<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khh.mapper.UserMapper">
    <select id="login" resultType="User">
        SELECT * FROM user WHERE id = #{id} and password = #{password}
    </select>

    <update id="keepLogin">
        UPDATE user SET sessionKey = #{sessionId}, sessionLimit = #{next} WHERE id = #{id}
    </update>

    <select id="checkUserWithSessionKey" resultType="User">
        SELECT * FROM user WHERE sessionKey = #{value} and sessionlimit > now()
    </select>

    <insert id="joinUser">
        INSERT INTO user(id, password, name) VALUES (#{id}, #{password}, #{name});
    </insert>

    <select id="checkExistID" resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="getUserByID" resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>
</mapper>